<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% load static %} <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    
    <div id="top_p" class="site-section bg-image gradient-1" style='background-image: url("{% static 'images/slider_2.jpg' %}")'>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 mx-auto text-center align-self-center">
              <!-- 헤더 영역 -->
              {% block header %}{% endblock %}  
            <p><a href="#home" class="btn btn-info px-4 py-3">HOME</a>
              <a href="#login" class="btn btn-info px-4 py-3">LOGIN</a>
              <a href="#member" class="btn btn-info px-4 py-3">MEMBER</a>
            </p>
        </div>
      </div>
    </div>
    
  <!-- HOME -->  
    <div class="site-section" id="home">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-7">
              
              <!-- 중간 설명 영역 -->
              {% block descHome %}{% endblock %} 
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="bg-light p-4">
                <!-- 아래 설명 영역 -->
                {% block downHome %}{% endblock %}  
              <a href="#top_p" class="btn btn-dark px-1 py-1">TOP</a>  
            </div>
          </div>
        </div>
     </div>
    </div>

  <!-- LOGIN -->  
  <div class="site-section" id="login">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-7">
              <!-- 중간 설명 영역 -->
              {% block descLogin %}{% endblock %}  
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="bg-light p-4">
                <!-- 아래 설명 영역 -->
                {% block downLogin %}{% endblock %}  
                <a href="#top_p" class="btn btn-dark px-1 py-1">TOP</a> 
              </div>
          </div>
        </div>
     </div>
    </div>

  <!-- LOGIN -->  
  <div class="site-section" id="member">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-7">
              <!-- 중간 설명 영역 -->
              {% block descMember %}{% endblock %}  
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="bg-light p-4">
                <!-- 아래 설명 영역 -->
                {% block downMember %}{% endblock %}  
                <a href="#top_p" class="btn btn-dark px-1 py-1">TOP</a> 
              </div>
          </div>
        </div>
     </div>
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>

    


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><span class="icon-close2"></span></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Mist enveloped the ship three hours out from port. A shining crescent far beneath the flying vessel. All their equipment and instruments are alive. The sky was cloudless and of a deep dark blue. A shining crescent far beneath the flying vessel.</p>
            <p>All their equipment and instruments are alive. A shining crescent far beneath the flying vessel. The sky was cloudless and of a deep dark blue. </p>
          </div>
        </div>
      </div>
    </div>




    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moments.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
  </body>
</html>